@page "{blogDetailsId:int?}"
@model BlogOne.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}
<H1>Edit</H1>
<br/>
<form method="post">
    @* Find by id and hide it *@
    <input type="hidden" asp-for="BlogDetails.Id" />
    <div class="form-group">
        <label asp-for="BlogDetails.Title"></label>
        <input asp-for="BlogDetails.Title" class="form-control" />
        <span class="text-danger" asp-validation-for="BlogDetails.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="BlogDetails.Date"></label>
        <input asp-for="BlogDetails.Date" class="form-control"/>
        <span class="text-danger" asp-validation-for="BlogDetails.Date"></span>
    </div>
    <div class="form-group">
        <label asp-for="BlogDetails.TextBody">Text Body</label>
        <textarea asp-for="BlogDetails.TextBody" class="form-control" rows="4"></textarea>
        <span class="text-danger" asp-validation-for="BlogDetails.TextBody"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>